<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HOME</title>
    </head>
    <body>
        <h1>MENU</h1>
        <ul>
            <li><a href="http://127.0.0.1:5000/example" target="_blank">기본 예시</a></li>
            <li><a href="http://127.0.0.1:5000/marker_text" target="_blank">마커와 텍스트 표시하기</a></li>
            <li><a href="http://127.0.0.1:5000//geolocation_marker" target="_blank">geolocation으로 마커 표시하기</li>
            <li><a href="http://127.0.0.1:5000//olive_young" target="_blank">올리브영 예제</li>
        </ul>
    </body>
</html>